body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: rgb(21, 22, 26);
}

.hide_on_load.fade {
	opacity: 0.0;
}

.hide_on_load.fancy {
	position: relative;
	bottom:-20px;
	opacity: 0.0;
}

.content {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -300px;
	width: 600px;
	height: 600px;
}

#home {
	margin-left: -139.5px;
	margin-top: -109px;
	width: 279px;
	height: 218px;
}

#team.content {
	display: none;
}
.contentbox {
	margin: auto;
	width: 500px;
	height: 500px;
	background-color: rgba(0, 0, 0, .35);
	border-radius: 5px;
	box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 20px;
	color: #FFF;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

#noise {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.7;
}

#text {
	margin-top: 55px;
}

#spotlight {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(126,129,134,1) 0%, rgba(126,129,134,0.83) 17%, rgba(36,37,41,0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(126,129,134,1)), color-stop(17%,rgba(126,129,134,0.83)), color-stop(100%,rgba(36,37,41,0)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(126,129,134,1) 0%,rgba(126,129,134,0.83) 17%,rgba(36,37,41,0) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(126,129,134,1) 0%,rgba(126,129,134,0.83) 17%,rgba(36,37,41,0) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(126,129,134,1) 0%,rgba(126,129,134,0.83) 17%,rgba(36,37,41,0) 100%);
	background: radial-gradient(center, ellipse cover,  rgba(126,129,134,1) 0%,rgba(126,129,134,0.83) 17%,rgba(36,37,41,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e8186', endColorstr='#00242529',GradientType=1 );
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0.7;
	z-index: -500;
}

#bottom-links {
	color: rgba(255,255,255,0.9);
	text-shadow: 0 0 1px #000000;
	z-index: 600px;
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#bottom-links #left {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

#bottom-links #right {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#bottom-links dash {
	margin-left: 3px;
	margin-right: 3px;
}

#bottom-links bull {
	color: #FFF;
	font-size: 7px;
	margin-left: 2px;
	margin-right: 2px;
}

#bottom-links a {

}

#bottom-links #bullet {
	position: relative;
	bottom: 4px;
}


.hidden {
	display: none;
}